<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% include "web/layouts/style.html" %}
    </head>
    <body>
        {% include "web/layouts/header.html" %}
        {% block body %}
        {% endblock %}
        {% include "web/layouts/footer.html" %}
        {% include "web/layouts/scripts.html" %}
        <script src="" async defer></script>
    </body>
</html>