{% load static %}
<header class="header sticky-bar">
    <div class="container">
      <div class="main-header">
        <div class="header-left">
          <div class="header-logo"><a class="d-flex" href="{% url 'home' %}"><img alt="jobBox" src="{% static 'assets/imgs/template/jobhub-logo.svg'%} "></a></div>
        </div>
        <div class="header-nav">
          <nav class="nav-main-menu">
            <ul class="main-menu">
              <li class=""><a  href="{% url 'home'%}">Home</a></li>
              <li class=""><a href="{% url 'products'%}">Products & licensing</a></li>
              <li class=""><a href="{% url 'contact'%}">Contact </a>
            </ul>
          </nav>
          <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
        </div>
        <div class="header-right">
          <div class="block-signin"><a class="btn btn-default btn-shadow ml-40 hover-up" href="page-signin.html">Sign in</a></div>
        </div>
      </div>
    </div>
  </header>
  <section class="section-box-2 py-4">
    <div class="container">
      <div class="banner-hero banner-single banner-single-bg">
        <div class="block-banner text-center">
          <h3 class="wow animate__ animate__fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"><span class="color-brand-2">Products & Services </span> Available Now</h3>
          <div class="font-sm color-text-paragraph-2 mt-10 wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">access a wide range of services, <br class="d-none d-xl-block"> including license applications, bandwidth requests, and more</div>
          <div class="form-find text-start mt-40 wow animate__ animate__fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <form action="{% url 'search_licenses' %}">
              
              <select class="form-input mr-10 select-active select2-hidden-accessible" name="location" data-select2-id="4" tabindex="-1" aria-hidden="true">
                <option disabled value="Bulawayo">Select Province</option>
                <option value="Bulawayo">Bulawayo</option>
                <option value="Harare">Harare</option>
                <option value="Manicaland">Manicaland</option>
                <option value="Mashonaland Central">Mashonaland Central</option>
                <option value="Mashonaland East">Mashonaland East</option>
                <option value="Mashonaland West">Mashonaland West</option>
                <option value="Masvingo">Masvingo</option>
                <option value="Matabeleland North">Matabeleland North</option>
                <option value="Matabeleland South">Matabeleland South</option>
                <option value="Midlands">Midlands</option>
              </select>
              
              <input class="form-input input-keysearch mr-10" type="text" name="keyword" placeholder="Your keyword... ">
              <button class="btn btn-default btn-find font-sm">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>