{% load static %}
<header class="header sticky-bar">
    <div class="container">
      <div class="main-header">
        <div class="header-left">
          <div class="header-logo"><a class="d-flex" href="index.html"><img alt="jobBox" src="{% static 'assets/imgs/template/jobhub-logo.svg'%} "></a></div>
        </div>
        <div class="header-nav">
          <nav class="nav-main-menu">
            <ul class="main-menu">
              <li class="has-children"><a class="active" href="index.html">Home</a></li>
              <li class="has-children"><a href="jobs-grid.html">About Us</a></li>
              <li class="has-children"><a href="companies-grid.html">Contact </a>
            </ul>
          </nav>
          <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
        </div>
        <div class="header-right">
          <div class="block-signin"><a class="text-link-bd-btom hover-up" href="page-register.html">Register</a><a class="btn btn-default btn-shadow ml-40 hover-up" href="page-signin.html">Sign in</a></div>
        </div>
      </div>
    </div>
  </header>