

{% extends 'admin/layouts/base.html' %}
{% load static %}

{% block body %}
<div class="section-box">
    <div class="container"> 
      <div class="panel-white">
        <div class="panel-head"> 
          <h5>Licenses</h5><a class="menudrop" id="dropdownMenu3" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
          <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownMenu3">
            <li><a class="dropdown-item active" href="#">Add new</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Actions</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="card-style-2 hover-up">
            <div class="card-head">
              <div class="card-image"> <img src="{% static 'portal/imgs/page/dashboard/img1.png' %}" alt="jobBox"></div>
              <div class="card-title"> 
                <h6>Senior Full Stack Engineer, Creator Success</h6><span class="job-type">Full time</span><span class="time-post">3mins ago</span><span class="location">New York, US</span>
              </div>
            </div>
            <div class="card-tags"> <a class="btn btn-tag">Figma</a><a class="btn btn-tag">Adobe XD</a>
            </div>
            <div class="card-price"><strong>$300</strong><span class="hour">/Hour</span></div>
          </div>
          <div class="card-style-2 hover-up">
            <div class="card-head">
              <div class="card-image"> <img src="{% static 'portal/imgs/page/dashboard/img2.png' %}" alt="jobBox"></div>
              <div class="card-title"> 
                <h6>Senior Full Stack Engineer, Creator Success</h6><span class="job-type">Full time</span><span class="time-post">3mins ago</span><span class="location">Chicago, US</span>
              </div>
            </div>
            <div class="card-tags"> <a class="btn btn-tag">Figma</a><a class="btn btn-tag">Adobe XD</a><a class="btn btn-tag">PSD</a>
            </div>
            <div class="card-price"><strong>$650</strong><span class="hour">/Hour</span></div>
          </div>
          <div class="card-style-2 hover-up">
            <div class="card-head">
              <div class="card-image"> <img src="{% static 'portal/imgs/page/dashboard/img3.png' %}" alt="jobBox"></div>
              <div class="card-title"> 
                <h6>Lead Product/UX/UI Designer Role</h6><span class="job-type">Full time</span><span class="time-post">3mins ago</span><span class="location">Paris, France</span>
              </div>
            </div>
            <div class="card-tags"> <a class="btn btn-tag">Figma</a><a class="btn btn-tag">Adobe XD</a><a class="btn btn-tag">PSD</a>
            </div>
            <div class="card-price"><strong>$1200</strong><span class="hour">/Hour</span></div>
          </div>
          <div class="card-style-2 hover-up">
            <div class="card-head">
              <div class="card-image"> <img src="{% static 'portal/imgs/page/dashboard/img4.png' %}" alt="jobBox"></div>
              <div class="card-title"> 
                <h6>Marketing Graphic Designer</h6><span class="job-type">Full time</span><span class="time-post">3mins ago</span><span class="location">Tokyto, Japan</span>
              </div>
            </div>
            <div class="card-tags"> <a class="btn btn-tag">Figma</a><a class="btn btn-tag">Adobe XD</a><a class="btn btn-tag">PSD</a>
            </div>
            <div class="card-price"><strong>$580</strong><span class="hour">/Hour</span></div>
          </div>
          <div class="card-style-2 hover-up">
            <div class="card-head">
              <div class="card-image"> <img src="{% static 'portal/imgs/page/dashboard/img5.png' %}" alt="jobBox"></div>
              <div class="card-title"> 
                <h6>Director, Product Design - Creator</h6><span class="job-type">Full time</span><span class="time-post">3mins ago</span><span class="location">Ha Noi, Vietnam</span>
              </div>
            </div>
            <div class="card-tags"> <a class="btn btn-tag">Figma</a><a class="btn btn-tag">Adobe XD</a><a class="btn btn-tag">PSD</a>
            </div>
            <div class="card-price"><strong>$1500</strong><span class="hour">/Hour</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}