

{% extends 'admin/layouts/base.html' %}
{% load static %}

{% block body %}
<div class="section-box">
    <div class="container"> 
      <div class="panel-white">
        <div class="panel-head"> 
          <h5>Application</h5><a class="menu" id="dropdownMenu3" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
        </div>
        <div class="panel-body">
          {% for application in obj %}
            <div class="card-style-2 hover-up">
            <div class="card-head">
              <div class="card-image"> <img src="{% static 'portal/imgs/page/dashboard/img1.png' %}" alt="jobBox"></div>
              <div class="card-title"> 
                <h6>{{ application }}</h6><span class="job-type">{{ application.user }}</span><span class="time-post">{{ application.created }}</span><span class="location">{{ license.location }}</span>
              </div>
            </div>
            <div class="card-tags"> <a class="btn btn-tag">{{ license.tag }}</a>
            </div>
            <div class="card-price"><strong>${{ license.cost }}</strong><span class="hour">/{{ license.unit }}</span></div>
            <div class="card-price px-1"><a class="menudrop" id="dropdownMenu3" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownMenu3">
                  <li><a class="dropdown-item active" href="#">Add License</a></li>
                  <li><a class="dropdown-item text-danger" href="#">Approve</a></li>
                </ul></div>
            
                    </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </div>

  {% endblock %}