{% load static %}

    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="msapplication-TileColor" content="#0E0E0E">
        <meta name="template-color" content="#0E0E0E">
        <link rel="manifest" href="manifest.json" crossorigin>
        <meta name="msapplication-config" content="browserconfig.xml">
        <meta name="description" content="Index page">
        <meta name="keywords" content="index, page">
        <meta name="author" content="Nyasha Chizampeni">
        <link rel="shortcut icon" type="image/x-icon" href="portal/imgs/template/favicon.svg' %}">
        <link href="{% static 'portal/css/style.css?version=4.1' %}" rel="stylesheet" >
        <title>Telecoms Portal </title>
      </head>
      <body>
        <div id="preloader-active">
          <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
              <div class="text-center"><img src="{% static 'portal/imgs/template/loading.gif' %}" alt="jobBox"></div>
            </div>
          </div>
        </div>
        <header class="header sticky-bar"> 
          <div class="container">
            <div class="main-header">
              <div class="header-left">
                <div class="header-logo"><a class="d-flex" href="index.html"><img alt="jobBox" src="{% static 'portal/imgs/page/dashboard/logo.svg' %}"></a></div><span class="btn btn-grey-small ml-10">Admin area</span>
              </div>
              
              <div class="header-menu d-none d-md-block">
                <ul> 
                  <li> <a href="{% url 'admins_index' %}">Home </a></li>
                  <li> <a href="{% url 'signout' %}">Sign Out </a></li>
                  </ul>
              </div>
              
            </div>
          </div>
        </header>
        <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
        <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
          <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-content-area">
              <div class="perfect-scroll">
                
                <div class="mobile-menu-wrap mobile-header-border">
                  <!-- mobile menu start-->
                  <nav>
                    <ul class="main-menu">
                      <li> <a class="dashboard2 active" href="index.html"><img src="{% static 'portal/imgs/page/dashboard/dashboard.svg' %}" alt="jobBox"><span class="name">Dashboard</span></a>
                      </li>
                      <li> <a class="dashboard2" href="candidates.html"><img src="{% static 'portal/imgs/page/dashboard/candidates.svg' %}" alt="jobBox"><span class="name">Candidates</span></a>
                      </li>
                      <li> <a class="dashboard2" href="recruiters.html"><img src="{% static 'portal/imgs/page/dashboard/recruiters.svg' %}" alt="jobBox"><span class="name">Recruiters</span></a>
                      </li>
                      <li> <a class="dashboard2" href="my-job-grid.html"><img src="{% static 'portal/imgs/page/dashboard/jobs.svg' %}" alt="jobBox"><span class="name">My Jobs</span></a>
                      </li>
                      <li> <a class="dashboard2" href="my-tasks-list.html"><img src="{% static 'portal/imgs/page/dashboard/tasks.svg' %}" alt="jobBox"><span class="name">Tasks List</span></a>
                      </li>
                      <li> <a class="dashboard2" href="profile.html"><img src="{% static 'portal/imgs/page/dashboard/profiles.svg' %}" alt="jobBox"><span class="name">My Profiles</span></a>
                      </li>
                      <li> <a class="dashboard2" href="my-resume.html"><img src="{% static 'portal/imgs/page/dashboard/cv-manage.svg' %}" alt="jobBox"><span class="name">CV Manage</span></a>
                      </li>
                      <li> <a class="dashboard2" href="settings.html"><img src="{% static 'portal/imgs/page/dashboard/settings.svg' %}" alt="jobBox"><span class="name">Setting</span></a>
                      </li>
                      <li> <a class="dashboard2" href="authentication.html"><img src="{% static 'portal/imgs/page/dashboard/authentication.svg' %}" alt="jobBox"><span class="name">Authentication</span></a>
                      </li>
                      <li> <a class="dashboard2" href="login.html"><img src="{% static 'portal/imgs/page/dashboard/logout.svg' %}" alt="jobBox"><span class="name">Logout</span></a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="mobile-account">
                  <h6 class="mb-10">Your Account</h6>
                  <ul class="mobile-menu font-heading">
                    <li> <a href="{% url 'admins_index' %}">Home </a></li>
                    <li> <a href="{% url 'signout' %}">Sign Out </a></li>
                  </ul>
                 </div>
                <div class="site-copyright">Copyright 2024 &copy; Telecoms.</div>
              </div>
            </div>
          </div>
        </div>
        <main class="main">
          <div class="nav"><a class="btn btn-expanded"></a>
            <nav class="nav-main-menu">
              <ul class="main-menu">
                <li> <a class="dashboard2 " href="{% url 'admin_license_index' %}"><img src="{% static 'portal/imgs/page/dashboard/dashboard.svg' %}" alt="jobBox"><span class="name">Licenses</span></a>
                </li>
                </li>
                
              </ul>
            </nav>
            <div class="border-bottom mb-20 mt-20"></div>
            <div class="box-profile-completed text-center mb-30">
              <div id="circle-staticstic-demo"></div>
              <h6 class="mb-10">Issued Licenses</h6>
              <p class="font-xs color-text-mutted">Review Pending Applications.</p>
            </div>
            
          </div>
          <div class="box-content">
            <div class="box-heading">
              <div class="box-title"> 
                <h3 class="mb-35">Dashboard</h3>
              </div>
              <div class="box-breadcrumb"> 
                <div class="breadcrumbs">
                  <ul> 
                    <li> <a class="icon-home" href="index.html">Admin</a></li>
                    <li><span>Dashboard</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-xxl-9 col-xl-8 col-lg-8 mx-auto">
                <div class="section-box">
                  <div class="row"> 
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-4 col-sm-6"> 
                      <div class="card-style-1 hover-up">
                        <div class="card-image"> <img src="{% static 'portal/imgs/page/dashboard/computer.svg' %}" alt="jobBox"></div>
                        <div class="card-info"> 
                          <div class="card-title">
                            <h3>{{ licenses }}<span class="font-sm status up"><span></span></span>
                            </h3>
                          </div>
                          <p class="color-text-paragraph-2">Licenses</p>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-4 col-sm-6">
                      <div class="card-style-1 hover-up">
                        <div class="card-image"> <img src="{% static 'portal/imgs/page/dashboard/lamp.svg' %}" alt="jobBox"></div>
                        <div class="card-info"> 
                          <div class="card-title">
                            <h3>{{ applications}}<span class="font-sm status up"><span></span></span>
                            </h3>
                          </div>
                          <p class="color-text-paragraph-2">Applications</p>
                        </div>
                      </div>
                    </div>
                    
                    
                    
                    
                    
                  </div>
                </div>
                {% block body %}
                {% endblock %}
                
              </div>
              
            </div>
            
            <footer class="footer mt-20">
              <div class="container">
                <div class="box-footer">
                  <div class="row">
                    <div class="col-md-6 col-sm-12 mb-25 text-center text-md-start">
                      <p class="font-sm color-text-paragraph-2">© 2024 - <a class="color-brand-2" href="" target="_blank"> </a><span>   </span><a class="color-brand-2" href="http://alithemes.com" target="_blank"> Telecomms Dashboard</a></p>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center text-md-end mb-25">
                      
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </main>
        <script src="{% static 'portal/js/vendor/modernizr-3.6.0.min.js' %}"></script>
        <script src="{% static 'portal/js/vendor/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'portal/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
        <script src="{% static 'portal/js/vendor/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'portal/js/plugins/waypoints.js' %}"></script>
        <script src="{% static 'portal/js/plugins/magnific-popup.js' %}"></script>
        <script src="{% static 'portal/js/plugins/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'portal/js/plugins/select2.min.js' %}"></script>
        <script src="{% static 'portal/js/plugins/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'portal/js/plugins/jquery.circliful.js' %}"></script>
        <script src="{% static 'portal/js/plugins/charts/index.js' %}"></script>
        <script src="{% static 'portal/js/plugins/charts/xy.js' %}"></script>
        <script src="{% static 'portal/js/plugins/charts/Animated.js' %}"></script>
        <script src="{% static 'portal/js/plugins/armcharts5-script.js' %}"></script>
        <script src="{% static 'portal/js/main.js?v=4.1' %}"></script>
      </body>
    </html>
    