{% load static %}

<header class="header sticky-bar"> 
    <div class="container">
      <div class="main-header">
        <div class="header-left">
          <div class="header-logo"><a class="d-flex" href="index.html"><img alt="jobBox" src="assets/imgs/page/dashboard/logo.svg"></a></div><span class="btn btn-grey-small ml-10">Admin area</span>
        </div>
        <div class="header-search"> 
          <div class="box-search"> 
            <form action="">
              <input class="form-control input-search" type="text" name="keyword" placeholder="Search">
            </form>
          </div>
        </div>
        <div class="header-menu d-none d-md-block">
          <ul> 
            <li>        <a href="http://wp.alithemes.com/html/jobbox/demos/index.html">Home </a></li>
            <li> <a href="http://wp.alithemes.com/html/jobbox/demos/page-about.html">About us </a></li>
            <li> <a href="http://wp.alithemes.com/html/jobbox/demos/page-contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="header-right">
          
        </div>
      </div>
    </div>
  </header>