{% load static %}
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.circliful.js' %}"></script>
    <script src="{% static 'assets/js/plugins/charts/index.js' %}"></script>
    <script src="{% static 'assets/js/plugins/charts/xy.js' %}"></script>
    <script src="{% static 'assets/js/plugins/charts/Animated.js' %}"></script>
    <script src="{% static 'assets/js/plugins/armcharts5-script.js' %}"></script>
    <script src="{% static 'assets/js/main.js?v=4.1' %}"></script>
