{% load static %}
<div class="mobile-account">
  <h6 class="mb-10">Your Account</h6>
  <ul class="mobile-menu font-heading">
    <li><a href="#">Profile</a></li>
    <li><a href="#">Work Preferences</a></li>
    <li><a href="#">Account Settings</a></li>
    <li><a href="#">Go Pro</a></li>
    <li><a href="page-signin.html">Sign Out</a></li>
  </ul>
  <div class="mb-15 mt-15">
    <a class="btn btn-default icon-edit hover-up" href="post-job.html"
      >Post Job</a
    >
  </div>
</div>


<main class="main">
  <div class="nav">
    <a class="btn btn-expanded"></a>
    <nav class="nav-main-menu">
      
    </nav>
  </div>
</main>
